= content_for :breadcrumbs do
  = link_to 'My Account', myaccount_startup_profile_path
  &raquo;
  = link_to 'Job Openings', myaccount_startup_jobs_path
  &raquo;
  = link_to @job.title, myaccount_startup_job_path(@job)
  &raquo;
  Edit
  
%h4 
  Edit your job opening
  %span.quiet.underline
    = @job.title
  At
  %span.quiet.underline
    = @job.job_location

- form_for([:myaccount_startup, @job]) do |f|
  = f.error_messages
  = render :partial => 'form', :locals => {:f => f}
  %p
    = f.submit "Update"
    or
    = link_to 'Cancel', job_path(@job)
