= check_box_tag "auto_renew_#{job.id}", job.auto_renewal, job.auto_renewal
= javascript_include_tag 'prototype'
= observe_field("auto_renew_#{job.id}", :url => {:controller => "/myaccount/startup/jobs", :action => "update_auto_renew", :job_id => job.id}, :frequency => 0.1, :with => 'query')