<% content_for :breadcrumbs do %>
  <%= link_to 'Home', root_path %>
  &raquo;
  Forgot Password
<% end %>
  
<%= error_messages_for :user %>
  
<% form_for :user do |f| -%>
  <p>
    <label>Email:</label><br />
    <%= f.text_field :email, :class=>"input_type_text" %>
  </p>
  Request link to reset password
  <br /><br />
  <%= submit_tag 'Reset' %>
  or
  <%= link_to "Cancel", login_path %>
<% end -%>
